span.color-picker-color {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: #ccc 3px solid;
    box-shadow: inset 0px 0px 3px rgb(0 0 0 / 40%);
    background-color: #fff;
    margin-left: 5px;
    position: absolute;
    border-radius: 4px;
}

div.color-picker-wrapper {
    position: absolute;
    z-index: 10;
    width: fit-content;
    padding: 20px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
    background: #fff;
    display: none;
}

@media (max-width:450px) {
    div.color-picker-wrapper {
        width: 90%!important;
    }
    .color-picker-wrapper div.buttons {
        width: 45%;
    }
    .color-picker-wrapper div.color-picker-recent {
        width: 60%;
    }
    .color-picker-wrapper div.hsl-display {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        height: 60%;
        width: 30%;
        margin: 0;
        margin-right: 20px;
        padding-top: 20px;
    }
    .color-picker-wrapper div.hsl-display > div {
        margin: 5px;
    }

    .color-picker-wrapper div.hex-display {
        flex-direction: column;
        position: absolute;
        align-items: baseline;
        bottom: 0;
        right: 0;
        width: 30%;
        height: 40%;
        margin: 0;
        margin-right: 20px;
        padding-top: 20px;
    }

    .color-picker-wrapper div.hex-display input {
        padding: 0;
        margin: 0;
    }

    .color-picker-wrapper button.close-button {
        top: 0;
        font-size: 30px;
    }
}

button.close-button{
    float: right;
    background: none;
    border: none;
    position: absolute;
    right: 0px;
    top: 3px;
    opacity: .4;
}

div.color-picker-recent {
    width: 100%;
    padding: 5px;
    display: none;
}

div.color-swatch {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 2px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 3px rgb(0 0 0 / 40%);
}

div.color-swatch.selected {
    box-shadow: 0px 0px 0px 2px #00b3ff;
}

div.buttons {
    width: 100%;
    height: 20px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

button.add_color {
    background: none;
    border: none;
    float:left;
}

button.remove_color {
    background: none;
    border: none;
    float: right;
}

div.hsl-display {
    margin: 7px;
    display: flex;
    justify-content: space-between;
}

div.hsl-display > div {
    display: inline-block;
}

div.hsl-display input {
    display: inline-block;
    width: 50px;
    margin-left: 6px;
    padding-left: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

div.hex-display {
    margin: 7px;
    display: flex;
    align-items: center;
}

div.hex-display input {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 10px;
    width: 100%;
    padding-left: 5px;
}